{% extends 'todolist/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Index</title>



</head>
<body>



<div class="center-column">

  <form method="POST" action="/">
     {% csrf_token %}
     {{form.name}}
     <input class="btn btn-primary  " type="submit" name="Create Task">
  </form>


<div class="table-responsive">
           <table class="table table-sm table-bordered">
               <thead>
                   <tr>
                   <th class="text-center" scope="col">Item</th>
                   <th class="text-center" scope="col">Action</th>
                   <th class="text-center" scope="col">Edit</th>
                   <th class="text-center" scope="col">Delete</th>
                   </tr>
               </thead>
               <tbody>
               {% for Task in tasks %}
                   {% if Task.completed %}
                       <tr class="table-secondary">
                           <td class="striker-text-center text-center">{{ Task }}</td>
                           <td class="text-center"><a class="btn btn-primary" href="{% url 'undone' Task.id %}">Undone</a></td>
                           <td class="text-center"><a class="btn btn-warning" href="{% url 'update-task' Task.id %}">Edit</a></td>
                           <td class="text-center"><a class="btn btn-danger" href="{% url 'delete-task' Task.id %}">Delete</a></td>
                       </tr>
                   {% else %}
                   <tr>
                           <td class="text-center">{{ Task }}</td>
                           <td class="text-center"><a class="btn btn-primary" href="{% url 'done' Task.id %}">Done</a></td>
                           <td class="text-center"><a class="btn btn-warning" href="{% url 'update-task' Task.id %}">Edit</a></td>
                           <td class="text-center"><a class="btn btn-danger" href="{% url 'delete-task' Task.id %}">Delete</a></td>
                       </tr>
                   {% endif %}
               {% endfor %}
               </tbody>
           </table>
       </div>

   </div>



</body>
</html>

{% endblock %}